global
    maxconn 4096
    daemon

defaults
    mode tcp
    timeout connect 5s
    timeout client 30s
    timeout server 30s

frontend tls_front
    bind *:443
    mode tcp
    default_backend reverse_proxies

backend reverse_proxies
    mode tcp
    balance roundrobin
    option tcp-check
    timeout connect 1s
    timeout check 500ms
    default-server inter 500 fall 1 rise 1
    server rp1 reverse-proxy-1:443 check
    server rp2 reverse-proxy-2:443 check backup

